.DS_Store
__pycache__/
*.py[cod]
*.log
.pytest_cache/
.mypy_cache/
.ruff_cache/
.venv/
venv/

airflow/.env
airflow/config/
airflow/logs/
airflow/dags/*.backup

output/

*.pem
*.key
*.p12
*.tfstate
*.tfstate.*
